<div class="container">
    <h1>Initial Page</h1>
    <hr>

    <%= link_to "Repositories", api_repositories_path, :class=> 'btn btn-warning' %>

    <%= link_to "Users", api_users_path, :class=> 'btn btn-warning' %>
</div>
