<div class="container">
    <h1>Repositories</h1>
    <%= link_to "Home", root_path, :class=> 'btn btn-success' %>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
                </thead>

                <tbody>
                
                    <% @repo.each do |ls| %>
                        <tr>
                            <td> <%= ls["id"]  %></td>
                            <td> <%= ls["name"]  %></td>
                            <td> <%= ls["html_url"]  %></td>          
                        </tr>
                <%end%>
                
                </tbody>
            </table>
        </div>
</div>
